.searchBar {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    .placeholder {
        position: absolute;
        color: rgb(172, 172, 172);
        top: 50%;
        transition: 0.2s ease-in-out;
        left: 20px;
        font-size: small;
        font-weight: 700;
        pointer-events: none;

        animation: scroll-placeholders 4s infinite;

        p {
            margin: 20px 0px;
        }
    }

    input {
        height: 45px;
        width: 100%;
        background-color: white;
        border: 0px;
        padding: 0px;
        padding-left: 20px;

        &:focus + .placeholder {
            display: none;
        }
    }

    .searchButton {
        height: 45px;
        width: 45px;
        background: linear-gradient(
            45deg,
            rgb(153, 51, 255) 0%,
            rgb(255, 102, 102) 100%
        );
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@keyframes scroll-placeholders {
    0% {
        transform: translateY(calc(-50% + (2 * 17.5px)));
    }
    10% {
        transform: translateY(calc(-50% + (0 * 17.5px)));
    }
    50% {
        transform: translateY(calc(-50% + (0 * 17.5px)));
    }
    60% {
        transform: translateY(calc(-50% + (-2 * 17.5px)));
    }
    100% {
        transform: translateY(calc(-50% + (-2 * 17.5px)));
    }
}
